<div class="my-news-box" style="
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 10px;
">
<div class="my-news-box-item1">
<img src="{{newsItem.cover}}" class="d-block mx-lg-auto img-fluid"
alt="{{newsItem.title}}" width="700" height="500" loading="lazy">
</div>
<div class="col-lg-6" style="
    margin: 10px 0px;
    padding: 30px;
;">
<h1 class="display-5 fw-bold lh-1 mb-3 title-news" id="{{newsItem.id}}" style="
    padding: 30px;
">{{newsItem.title}}</h1>
<div class="text-muted"></div>
<div class="text-muted">

</div>
<p class="describ-news">{{newsItem.descript}}</p>
</div>
</div>

  <form method="post" enctype="application/json"
  action="http://localhost:3000/news/reading"
    class="formNews" style="display: none; flex-direction: column">
      <textarea name="title" class="titleNewsF" cols="10" rows="5"></textarea>
      <textarea name="descript" class="descriptNewsF" cols="10" rows="5"></textarea>
      <textarea name="text" class="textsNewsF" cols="50" rows="25"></textarea>
      <input type="text" name="id" value="{{newsItem.id}}" style="display: none">
      <input type="submit">
    </form>
  </div>
</div>

<div class="jumbotron" style="background-color: gainsboro;">
  <h1 class="display-4 author-news" id="{{newsItem.author}}">Автор: {{newsItem.author}}</h1>
  <p class="lead">Дата создания: {{newsItem.dataMess}}</p>
  <hr class="my-4">
    <button type="button" name="idNews" 
    class="btn btn-sm btn-outline-secondary commen">Редактировать</button>
    <button type="button" name="dell" 
    class="btn btn-sm btn-outline-secondary deletes" id="{{newsItem.id}}" >Удалить</button>
  </div>

<script type="module" src="/js/DOOMread-news.js"></script>


<form 
method="post" 
enctype="multipart/form-data"
action="http://localhost:3000/news-comments/create"
class="new-comments-create-form">


    <div class="coments-user" style="
    border: solid 1px;
    padding: 30px;
    margin: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    ">
    <div class="input-group mb-3">
  <input type="file" name='comments' id='avatar' class="cover-comment">
</div>
<div class="input-group mb-3">
</div>
<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text" id="{{userid.user.id}}">Ваш комментарий</span>
  </div>
  <textarea id="user-comment" name='message' class="form-control form-control-mess" aria-label="With textarea"></textarea>
</div>
<input tpe="text" name="uuidNews" value="{{newsItem.id}}" style="display: none">
<input type="submit" id='comment-bottom' class="btn btn-primary">
</div>
</form>

{{#if commentsItem}}
<div class="row" style="margin: 10px;">
    {{#each commentsItem}}
    <div class="col">
          <div class="card shadow-sm">
                {{#if this.cover}}
                <img class="bd-placeholder-img card-img-top" src="{{this.cover}}"
                style="width: 100px; height: 100px">
                {{else}}
                <img class="bd-placeholder-img card-img-top" src="http://localhost:3000/comments/3380322.png"
                style="width: 100px; height: 100px">
                {{/if}}
            </a>
            <div class="card-body">
                <h5 class="cart-title">{{this.nameuser}}</h5>
              <p class="card-text{{this.id}}">{{this.message}}</p>
              <form method="post" enctype="application/json"
                action="http://localhost:3000/news-comments/redact" class="{{this.id}}Form"
                style="display: none;">
                <textarea name="newComent" class="{{this.id}}" cols="30" rows="10"></textarea>
                <input type="text" name="idComment" value="{{this.id}}" style="display: none;">
                <input type="text" name="idNews" value="{{this.idNews}}" style="display: none;">
                <input class="ajaFe" type="submit">
              </form>

              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <h6 class="card-subtitle">Дата создания: {{this.date}}</h6>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Комментировать</button>
                  <button type="button" id="{{this.id}}" class="btn btn-sm btn-outline-secondary">Редактировать</button>
                </div>
              </div>
            </div>
          </div>
        </div>
    {{/each}}

    <script>
      document.querySelector('.row').addEventListener('click', (event) => {
        switch(event.target.textContent) {
          case 'Редактировать':
            event.target.textContent = 'Отмена';
            document.querySelector(`.${event.target.id}Form`).style.display = 'block';
            document.querySelector(`.${event.target.id}`).textContent = document.querySelector(`.card-text${event.target.id}`).textContent;
            break;

          case 'Отмена':
            event.target.textContent = 'Редактировать'
            document.querySelector(`.${event.target.id}Form`).style.display = 'none';
            break;

          default:
            break;
        }
      })
    </script>
</div>
{{else}}
<h1>Пока нет комментариев</h1>
{{/if}}
<script src="/js/comment_JS.js"></script>
<script src="/js/delete-News.js"></script>