<table>
    {{!-- <tr>
        <td>Изменение в новости: </td>
        <td>{{context[0].title}}</td>
    </tr>
    <tr>
        <td>Первоначальный вариант: </td>
    </tr>
    <tr>
        <td>Название</td>
        <td>{{context[0].title}}</td>
    </tr>
    <tr>
        <td>Описание</td>
        <td>{{context[0].description}}</td>
    </tr>
    <tr>
        <td>Автор</td>
        <td>{{context[0].author}}</td>
    </tr>
    <tr>
        <td>Дата создания</td>
        <td>{{context[0].createAt}}</td>
    </tr>
    <tr>
        <td>Ссылка на новость</td>
        <td>
            <a href="http://localhost:3000/news/catalog/{{context[0].id}}">
            Новость
            </a>
        </td>
    </tr>
    <tr>Публикуемый вариант: </tr>
    <tr>
        <td>Название</td>
        <td>{{context[1].title}}</td>
    </tr>
    <tr>
        <td>Описание</td>
        <td>{{context[1].description}}</td>
    </tr>
    <tr>
        <td>Автор</td>
        <td>{{context[1].author}}</td>
    </tr>
    <tr>
        <td>Дата создания</td>
        <td>{{context[1].createAt}}</td>
    </tr>
    <tr>
        <td>Ссылка на новость</td>
        <td>
            <a href="http://localhost:3000/news/catalog/{{context[1].id}}">
            Новость
            </a>
        </td>
    </tr> --}}
</table>